<h1>{{data.[0].owner.login}}</h1>

{{#each data}}
    <div class="">
        <div class="">
            <h2 class=""><a class="" href="{{html_url}}" target="_blank">{{description}}</a></h2>
            <p></p>
        </div>
        <div class=""
            <img class="" src="" alt="">
        </div>
    </div>
{{/each}}